/* JavaFX CSS - Leave this comment until you have at least create one rule which uses -fx-Property */
#linechart_down {
	-fx-background-color: transparent;
}

#linechart_down-content {
	-fx-background-color: transparent;
}

#linechart_down-plot-background {
	-fx-background-color: transparent;
}

#linechart_up {
	-fx-background-color: transparent;
}

#linechart_up-content {
	-fx-background-color: transparent;
}

#linechart_up-plot-background {
	-fx-background-color: transparent;
}
